services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: hustudent-backend
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env
    restart: always
    environment:
      - PORT=3000
    networks:
      - hustudent-network

networks:
  hustudent-network:
    driver: bridge
